@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Open Sans, Noto Sans JP, sans-serif;
}

.desktop-hidden {
  display: none;
}

.mobile-hidden {
  display: inline;
}

@media (min-width: 640px) { /* Adjust the breakpoint as needed */
  .desktop-hidden {
    display: inline;
  }

  .mobile-hidden {
    display: none;
  }
}
